# NYC Apartment Search

_[Project prompt](https://docs.google.com/document/d/1BYVyFBDcTywdUlanH0ysfOrNWPgl7UkqXA7NeewTzxA/edit#heading=h.bpxu7uvknnbk)_

_This scaffolding notebook may be used to help setup your final project. It's **totally optional** whether you make use of this or not._

_If you do use this notebook, everything provided is optional as well - you may remove or add code as you wish._

_**All code below should be consider "pseudo-code" - not functional by itself, and only an idea of a possible approach.**_

## Setup

In [2]:
# All import statements needed for the project, for example:
import pip

import json
import pathlib
import urllib.parse

import geoalchemy2 as gdb
import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import requests

import sqlalchemy as db

from sqlalchemy.orm import declarative_base
from shapely.geometry import Point

/Users/joy/opt/anaconda3/lib/python3.9/site-packages/_distutils_hack/__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

In [3]:
# Any constants you might need; some have been added for you

# Where data files will be read from/written to - this should already exist
DATA_DIR = pathlib.Path("data")
ZIPCODE_DATA_FILE = DATA_DIR / "zipcodes" / "ZIP_CODE_040114.shp"
ZILLOW_DATA_FILE = DATA_DIR / "zillow_rent_data.csv"

NYC_DATA_APP_TOKEN = "FILL_ME_IN"
BASE_NYC_DATA_URL = "https://data.cityofnewyork.us/"
NYC_DATA_311 = "erm2-nwe9.geojson"
NYC_DATA_TREES = "5rq2-4hqu.geojson"

DB_NAME = "FILL_ME_IN"
DB_USER = "FILL_ME_IN"
DB_URL = f"postgres+psycopg2://{DB_USER}@localhost/{DB_NAME}"
DB_SCHEMA_FILE = "schema.sql"
# directory where DB queries for Part 3 will be saved
QUERY_DIR = pathlib.Path("queries")

In [4]:
# Make sure the QUERY_DIRECTORY exists
if not QUERY_DIR.exists():
    QUERY_DIR.mkdir()

In [5]:
app_token='Ynj6cS7u6dCNSS8Mx24yo8QLg'

## Part 1: Data Preprocessing

In [5]:
def download_nyc_geojson_data(url, force=False):
    parsed_url = urllib.parse.urlparse(url)
    url_path = parsed_url.path.strip("/")
    
    filename = DATA_DIR / url_path
    
    if force or not filename.exists():
        print(f"Downloading {url} to {filename}...")
        
        ...
        
        with open(filename, "w") as f:
            json.dump(..., f)
        print(f"Done downloading {url}.")

    else:
        print(f"Reading from {filename}...")

    return filename

In [6]:
def load_and_clean_zipcodes(zipcode_datafile):
    geodf_zipcode_data=gpd.read_file(zipcode_datafile)
    return geodf_zipcode_data
geodf_zipcode_data=load_and_clean_zipcodes('data/nyc_zipcodes/nyc_zipcodes.dbf')
geodf_zipcode_data

,ZIPCODE,BLDGZIP,PO_NAME,POPULATION,AREA,STATE,COUNTY,ST_FIPS,CTY_FIPS,URL,SHAPE_AREA,SHAPE_LEN,geometry
0,11436,0,Jamaica,18681.0,2.269930e+07,NY,Queens,36,081,http://www.usps.com/,0.0,0.0,"POLYGON ((1038098.252 188138.380, 1038141.936 ..."
1,11213,0,Brooklyn,62426.0,2.963100e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1001613.713 186926.440, 1002314.243 ..."
2,11212,0,Brooklyn,83866.0,4.197210e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1011174.276 183696.338, 1011373.584 ..."
3,11225,0,Brooklyn,56527.0,2.369863e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((995908.365 183617.613, 996522.848 18..."
4,11218,0,Brooklyn,72280.0,3.686880e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((991997.113 176307.496, 992042.798 17..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
258,10310,0,Staten Island,25003.0,5.346328e+07,NY,Richmond,36,085,http://www.usps.com/,0.0,0.0,"POLYGON ((950767.507 172848.969, 950787.510 17..."
259,11693,0,Far Rockaway,11052.0,3.497516e+06,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((1028453.995 167153.410, 1027813.010 ..."
260,11249,0,Brooklyn,28481.0,1.777221e+07,NY,Kings,36,047,http://www.usps.com/,0.0,0.0,"POLYGON ((995877.318 203206.075, 995968.511 20..."
261,10162,1,New York,0.0,2.103489e+04,NY,New York,36,061,http://www.usps.com/,0.0,0.0,"POLYGON ((997731.761 219560.922, 997641.948 21..."
262,10119,1,New York,0.0,1.263930e+05,NY,New York,36,061,http://www.usps.com/,0.0,0.0,"POLYGON ((986038.661 213051.063, 986135.314 21..."

In [7]:
geodf_zipcode_data=geodf_zipcode_data.drop(['BLDGZIP','POPULATION','AREA','ST_FIPS','CTY_FIPS','URL','SHAPE_AREA','SHAPE_LEN'],axis=1)
geodf_zipcode_data= geodf_zipcode_data.to_crs(epsg=4326)
geodf_zipcode_data

,ZIPCODE,PO_NAME,STATE,COUNTY,geometry
0,11436,Jamaica,NY,Queens,"POLYGON ((-73.80585 40.68291, -73.80569 40.682..."
1,11213,Brooklyn,NY,Kings,"POLYGON ((-73.93740 40.67973, -73.93487 40.679..."
2,11212,Brooklyn,NY,Kings,"POLYGON ((-73.90294 40.67084, -73.90223 40.668..."
3,11225,Brooklyn,NY,Kings,"POLYGON ((-73.95797 40.67066, -73.95576 40.670..."
4,11218,Brooklyn,NY,Kings,"POLYGON ((-73.97208 40.65060, -73.97192 40.650..."
...,...,...,...,...,...
258,10310,Staten Island,NY,Richmond,"POLYGON ((-74.12065 40.64104, -74.12057 40.641..."
259,11693,Far Rockaway,NY,Kings,"POLYGON ((-73.84076 40.62536, -73.84306 40.627..."
260,11249,Brooklyn,NY,Kings,"POLYGON ((-73.95805 40.72442, -73.95772 40.724..."
261,10162,New York,NY,New York,"POLYGON ((-73.95133 40.76931, -73.95165 40.769..."
262,10119,New York,NY,New York,"POLYGON ((-73.99354 40.75145, -73.99320 40.751..."

In [7]:
def download_and_clean_311_data():
    api_endpoint = 'https://data.cityofnewyork.us/resource/erm2-nwe9.json'
    selected_columns=['created_date','complaint_type','descriptor','incident_zip','latitude','longitude']
    params = {
    '$$app_token': app_token,
    '$where': 'created_date >= "2015-01-01T00:00:00.000"',
    '$select': ','.join(selected_columns),
    '$limit': 34856027


}
    response = requests.get(api_endpoint, params=params)
    if response.status_code == 200:
    # Load the data into a pandas DataFrame
        nyc_data = pd.read_json(response.text)

    # Now you have the data and can perform further processing
        nyc_data.to_csv('data/nyc_data_311.csv', index=False)
        return nyc_data
    else:
        print(f"Error: {response.status_code}, {response.text}")


geodf_311_data=download_and_clean_311_data()
geodf_311_data

KeyboardInterrupt:

In [8]:
geodf_311_data=pd.read_csv('data/nyc_data_311.csv',header=0)
geodf_311_data=geodf_311_data.dropna()
# geodf_311_data=geodf_311_data[geodf_311_data['complaint_type'].str.contains('Noise')]
geodf_311_data

/var/folders/bb/_hqp3v9d6hv0zzgzd6g_yv780000gn/T/ipykernel_50947/3847415464.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  geodf_311_data=pd.read_csv('data/nyc_data_311.csv',header=0)

,created_date,complaint_type,descriptor,incident_zip,latitude,longitude
0,2023-11-29T12:00:00.000,Derelict Vehicles,Derelict Vehicles,10465.0,40.817187,-73.814280
1,2023-11-29T12:00:00.000,Derelict Vehicles,Derelict Vehicles,10461.0,40.844792,-73.827457
2,2023-11-29T12:00:00.000,Derelict Vehicles,Derelict Vehicles,11206.0,40.701001,-73.957198
3,2023-11-29T12:00:00.000,Derelict Vehicles,Derelict Vehicles,11214.0,40.595980,-73.991603
4,2023-11-29T01:19:45.000,Noise - Helicopter,Other,10028.0,40.780633,-73.960360
...,...,...,...,...,...,...
24897448,2015-01-01T00:00:00.000,HEAT/HOT WATER,ENTIRE BUILDING,11211,40.708027,-73.954452
24897449,2015-01-01T00:00:00.000,HEAT/HOT WATER,ENTIRE BUILDING,11238,40.686323,-73.969103
24897450,2015-01-01T00:00:00.000,HEAT/HOT WATER,ENTIRE BUILDING,10463,40.884336,-73.897524
24897451,2015-01-01T00:00:00.000,HEAT/HOT WATER,ENTIRE BUILDING,10028,40.776440,-73.955709
24897452,2015-01-01T00:00:00.000,HEAT/HOT WATER,ENTIRE BUILDING,10462,40.852748,-73.858834

In [9]:
geodf_311_data['geometry'] = geodf_311_data.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
geodf_311_data = gpd.GeoDataFrame(geodf_311_data, geometry='geometry', crs='EPSG:4326')
geodf_311_data['zipcode'] = geodf_311_data['incident_zip'].astype(str)
geodf_311_data['zipcode'] = geodf_311_data['zipcode'].str.split('.').str[0]
geodf_311_data=geodf_311_data.drop(['incident_zip','descriptor','latitude','longitude'],axis=1)
geodf_311_data=geodf_311_data.rename(columns={'created_date':'date'})
geodf_311_data

,date,complaint_type,geometry,zipcode
0,2023-11-29T12:00:00.000,Derelict Vehicles,POINT (-73.81428 40.81719),10465
1,2023-11-29T12:00:00.000,Derelict Vehicles,POINT (-73.82746 40.84479),10461
2,2023-11-29T12:00:00.000,Derelict Vehicles,POINT (-73.95720 40.70100),11206
3,2023-11-29T12:00:00.000,Derelict Vehicles,POINT (-73.99160 40.59598),11214
4,2023-11-29T01:19:45.000,Noise - Helicopter,POINT (-73.96036 40.78063),10028
...,...,...,...,...
24897448,2015-01-01T00:00:00.000,HEAT/HOT WATER,POINT (-73.95445 40.70803),11211
24897449,2015-01-01T00:00:00.000,HEAT/HOT WATER,POINT (-73.96910 40.68632),11238
24897450,2015-01-01T00:00:00.000,HEAT/HOT WATER,POINT (-73.89752 40.88434),10463
24897451,2015-01-01T00:00:00.000,HEAT/HOT WATER,POINT (-73.95571 40.77644),10028
24897452,2015-01-01T00:00:00.000,HEAT/HOT WATER,POINT (-73.85883 40.85275),10462

In [10]:
def download_and_clean_tree_data():
    api_endpoint1 = 'https://data.cityofnewyork.us/resource/5rq2-4hqu.geojson'
    selected_columns = ['tree_id','health','status','spc_common','zipcode','latitude','longitude']
    params = {
        '$$app_token': app_token,
        '$limit': 683788,
        '$select': ','.join(selected_columns),
    }
    response = requests.get(api_endpoint1, params=params)
    if response.status_code == 200:
        # Load the data into a GeoDataFrame using geopandas
        geodf_tree_data  = gpd.read_file(response.text)

        # Save the GeoDataFrame to a CSV file
        geodf_tree_data.to_csv('data/tree_data.csv', index=False)

        return geodf_tree_data
    else:
        print(f"Error: {response.status_code}, {response.text}")

# 调用函数
geodf_tree_data = download_and_clean_tree_data()

KeyboardInterrupt:

In [11]:
geodf_tree_data=pd.read_csv('data/tree_data.csv')
geodf_tree_data=geodf_tree_data.drop(['geometry'],axis=1)
geodf_tree_data['geometry'] = geodf_tree_data.apply(lambda row: Point(row['longitude'], row['latitude']), axis=1)
geodf_tree_data = gpd.GeoDataFrame(geodf_tree_data, geometry='geometry', crs='EPSG:4326')
geodf_tree_data=geodf_tree_data.drop(['latitude','longitude'],axis=1)
geodf_tree_data['zipcode']=geodf_tree_data['zipcode'].astype(str)
geodf_tree_data=geodf_tree_data.rename({"spc_common":"species"})
geodf_tree_data

,health,zipcode,tree_id,spc_common,status,geometry
0,Fair,11375,180683,red maple,Alive,POINT (-73.84422 40.72309)
1,Fair,11357,200540,pin oak,Alive,POINT (-73.81868 40.79411)
2,Good,11211,204026,honeylocust,Alive,POINT (-73.93661 40.71758)
3,Good,11211,204337,honeylocust,Alive,POINT (-73.93446 40.71354)
4,Good,11215,189565,American linden,Alive,POINT (-73.97598 40.66678)
...,...,...,...,...,...,...
683783,Good,11211,155433,pin oak,Alive,POINT (-73.95494 40.71321)
683784,Good,11375,183795,Kentucky yellowwood,Alive,POINT (-73.85665 40.71519)
683785,Good,10314,166161,red maple,Alive,POINT (-74.13652 40.62076)
683786,Good,10457,184028,red maple,Alive,POINT (-73.90311 40.85083)
683787,Fair,11365,200607,red maple,Alive,POINT (-73.78753 40.73217)

In [12]:
def load_and_clean_zillow_data():
    df_zillow_data=pd.read_csv('data/zillow_rent_data.csv')
    df_zillow_data= df_zillow_data.drop(['RegionID','SizeRank','RegionType','StateName'],axis=1)
    df_zillow_data=df_zillow_data[df_zillow_data['City']=='New York']
    return df_zillow_data

df_zillow_data=load_and_clean_zillow_data()
df_zillow_data

,RegionName,State,City,Metro,CountyName,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30
4,11385,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,2087.527084,NaN,2149.924252,2166.263698,...,2935.808220,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783
6,11208,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,NaN,NaN,NaN,NaN,NaN,...,2508.670432,2588.030194,2613.790654,2585.561351,2633.200754,2672.038493,2806.918757,2765.224364,2737.547470,2728.733333
12,11236,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2285.460026,2362.500000
13,10467,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,NaN,NaN,NaN,NaN,NaN,...,2145.642295,2155.617718,2172.346611,2160.962748,2110.533203,2180.323655,2276.372290,2334.204728,2353.686402,2423.888889
14,11373,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,NaN,NaN,NaN,NaN,...,2199.459063,2255.604528,2262.101623,2271.514956,2250.182334,2231.959479,2257.413993,2247.592851,2302.557354,2292.994444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6550,10282,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,NaN,NaN,NaN,NaN,...,7058.613416,7143.347680,7408.940270,7459.080381,7512.509440,7452.333390,7572.806191,7611.834625,7444.236260,7347.458333
6561,11109,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,NaN,NaN,NaN,NaN,...,4247.334177,4159.759749,4157.528579,4201.199144,4294.386817,4343.065214,4357.893069,4445.207586,4490.367074,4529.358974
6644,10006,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,NaN,NaN,NaN,NaN,...,3936.629997,3747.416799,3693.121513,3812.835588,3920.619972,4025.134283,4043.838704,4035.676503,4042.831474,4060.096154
6695,10162,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4871.181752,5007.415824,NaN,4984.693932,5011.666667
6721,10004,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,NaN,NaN,NaN,NaN,...,4006.972903,4000.923287,4002.584212,4085.513015,4224.569373,4240.040733,4286.776061,4270.158740,4353.055657,4355.328283

In [13]:
selected_columns = df_zillow_data.iloc[:, 5:]
df_zillow_data['rent_avg']=selected_columns.mean(axis=1, skipna=True)

In [14]:
df_zillow_data=df_zillow_data.rename(columns={'RegionName':'zipcode','CountyName':'countyname'})
df_zillow_data['zipcode']=df_zillow_data['zipcode'].astype(str)
df_zillow_data

,zipcode,State,City,Metro,countyname,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,rent_avg
4,11385,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,2087.527084,NaN,2149.924252,2166.263698,...,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783,2476.923402
6,11208,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,NaN,NaN,NaN,NaN,NaN,...,2588.030194,2613.790654,2585.561351,2633.200754,2672.038493,2806.918757,2765.224364,2737.547470,2728.733333,2560.469803
12,11236,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2285.460026,2362.500000,2323.980013
13,10467,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,NaN,NaN,NaN,NaN,NaN,...,2155.617718,2172.346611,2160.962748,2110.533203,2180.323655,2276.372290,2334.204728,2353.686402,2423.888889,1861.072982
14,11373,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,NaN,NaN,NaN,NaN,...,2255.604528,2262.101623,2271.514956,2250.182334,2231.959479,2257.413993,2247.592851,2302.557354,2292.994444,2084.549636
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6550,10282,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,NaN,NaN,NaN,NaN,...,7143.347680,7408.940270,7459.080381,7512.509440,7452.333390,7572.806191,7611.834625,7444.236260,7347.458333,7029.339124
6561,11109,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,NaN,NaN,NaN,NaN,...,4159.759749,4157.528579,4201.199144,4294.386817,4343.065214,4357.893069,4445.207586,4490.367074,4529.358974,3518.929190
6644,10006,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,NaN,NaN,NaN,NaN,...,3747.416799,3693.121513,3812.835588,3920.619972,4025.134283,4043.838704,4035.676503,4042.831474,4060.096154,3489.762997
6695,10162,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4871.181752,5007.415824,NaN,4984.693932,5011.666667,4968.739544
6721,10004,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,NaN,NaN,NaN,NaN,NaN,...,4000.923287,4002.584212,4085.513015,4224.569373,4240.040733,4286.776061,4270.158740,4353.055657,4355.328283,3558.776363

In [15]:
# Show basic info about each dataframe
geodf_zipcode_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ZIPCODE   263 non-null    object
 1   PO_NAME   263 non-null    object
 2   STATE     263 non-null    object
 3   COUNTY    263 non-null    object
 4   geometry  263 non-null    geometry
dtypes: geometry(1), object(4)
memory usage: 10.4+ KB

In [16]:
# Show first 5 entries about each dataframe
geodf_zipcode_data.head()

,ZIPCODE,PO_NAME,STATE,COUNTY,geometry
0,11436,Jamaica,NY,Queens,"POLYGON ((-73.80585 40.68291, -73.80569 40.682..."
1,11213,Brooklyn,NY,Kings,"POLYGON ((-73.93740 40.67973, -73.93487 40.679..."
2,11212,Brooklyn,NY,Kings,"POLYGON ((-73.90294 40.67084, -73.90223 40.668..."
3,11225,Brooklyn,NY,Kings,"POLYGON ((-73.95797 40.67066, -73.95576 40.670..."
4,11218,Brooklyn,NY,Kings,"POLYGON ((-73.97208 40.65060, -73.97192 40.650..."

In [17]:
geodf_311_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 23117461 entries, 0 to 24897452
Data columns (total 4 columns):
 #   Column          Dtype
---  ------          -----
 0   date            object
 1   complaint_type  object
 2   geometry        geometry
 3   zipcode         object
dtypes: geometry(1), object(3)
memory usage: 881.9+ MB

In [18]:
geodf_311_data.head()

,date,complaint_type,geometry,zipcode
0,2023-11-29T12:00:00.000,Derelict Vehicles,POINT (-73.81428 40.81719),10465
1,2023-11-29T12:00:00.000,Derelict Vehicles,POINT (-73.82746 40.84479),10461
2,2023-11-29T12:00:00.000,Derelict Vehicles,POINT (-73.95720 40.70100),11206
3,2023-11-29T12:00:00.000,Derelict Vehicles,POINT (-73.99160 40.59598),11214
4,2023-11-29T01:19:45.000,Noise - Helicopter,POINT (-73.96036 40.78063),10028

In [19]:
geodf_tree_data.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 683788 entries, 0 to 683787
Data columns (total 6 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   health      652172 non-null  object
 1   zipcode     683788 non-null  object
 2   tree_id     683788 non-null  int64
 3   spc_common  652169 non-null  object
 4   status      683788 non-null  object
 5   geometry    683788 non-null  geometry
dtypes: geometry(1), int64(1), object(4)
memory usage: 36.5+ MB

In [20]:
geodf_tree_data.head()

  health zipcode  tree_id       spc_common status                    geometry
0   Fair   11375   180683        red maple  Alive  POINT (-73.84422 40.72309)
1   Fair   11357   200540          pin oak  Alive  POINT (-73.81868 40.79411)
2   Good   11211   204026      honeylocust  Alive  POINT (-73.93661 40.71758)
3   Good   11211   204337      honeylocust  Alive  POINT (-73.93446 40.71354)
4   Good   11215   189565  American linden  Alive  POINT (-73.97598 40.66678)

In [21]:
df_zillow_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 145 entries, 4 to 6721
Columns: 111 entries, zipcode to rent_avg
dtypes: float64(106), object(5)
memory usage: 126.9+ KB

In [22]:
df_zillow_data.head()

,zipcode,State,City,Metro,countyname,2015-01-31,2015-02-28,2015-03-31,2015-04-30,2015-05-31,...,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,rent_avg
4,11385,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,2087.527084,NaN,2149.924252,2166.263698,...,2895.699421,2873.209025,2881.906361,2913.546218,2963.964134,3005.735342,3034.413822,3064.476503,3079.585783,2476.923402
6,11208,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,NaN,NaN,NaN,NaN,NaN,...,2588.030194,2613.790654,2585.561351,2633.200754,2672.038493,2806.918757,2765.224364,2737.547470,2728.733333,2560.469803
12,11236,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Kings County,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2285.460026,2362.500000,2323.980013
13,10467,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Bronx County,NaN,NaN,NaN,NaN,NaN,...,2155.617718,2172.346611,2160.962748,2110.533203,2180.323655,2276.372290,2334.204728,2353.686402,2423.888889,1861.072982
14,11373,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,NaN,NaN,NaN,NaN,NaN,...,2255.604528,2262.101623,2271.514956,2250.182334,2231.959479,2257.413993,2247.592851,2302.557354,2292.994444,2084.549636

## Part 2: Storing Data

In [23]:
!createdb Julia-Joy1

zsh:1: command not found: createdb

In [26]:
!psql --dbname Julia-Joy1 -c 'CREATE EXTENSION postgis;'

ERROR:  extension "postgis" already exists

In [24]:
import psycopg2
from psycopg2 import sql

def setup_new_postgis_database(username, db_name):
    # Connect to the default 'postgres' database to create a new database
    connection = psycopg2.connect(user=username, dbname=db_name)
    cursor = connection.cursor()

In [26]:
setup_new_postgis_database('joy', 'Julia-Joy1')

### Creating Tables


These are just a couple of options to creating your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [28]:
# if using SQL (as opposed to SQLAlchemy), define the SQL statements to create your 4 tables
ZIPCODE_SCHEMA = """
CREATE TABLE IF NOT EXISTS zipcodes (
    id SERIAL PRIMARY KEY,
    zipcode VARCHAR(10),
    po_name VARCHAR,
    state VARCHAR,
    country VARCHAR,
    geometry GEOMETRY(POLYGON, 4326)
);
"""

NYC_311_SCHEMA = """
CREATE TABLE IF NOT EXISTS complaints (
    id SERIAL PRIMARY KEY,
    date DATE,
    complaint_type VARCHAR(255),
    geometry GEOMETRY(POINT, 4326),
    zipcode VARCHAR
);
"""

NYC_TREE_SCHEMA = """
CREATE TABLE IF NOT EXISTS trees (
    id SERIAL PRIMARY KEY,
    tree_id INTEGER,
    geometry GEOMETRY(POINT, 4326)
);
"""

ZILLOW_SCHEMA = """
CREATE TABLE IF NOT EXISTS rents (
    id SERIAL PRIMARY KEY,
    zipcode VARCHAR(10),
    countyname VARCHAR,
    rent_avg NUMERIC
);
"""

In [29]:
# create that required schema.sql file
with open(DB_SCHEMA_FILE, "w") as f:
    f.write(ZIPCODE_SCHEMA)
    f.write(NYC_311_SCHEMA)
    f.write(NYC_TREE_SCHEMA)
    f.write(ZILLOW_SCHEMA)

In [31]:
# If using SQL (as opposed to SQLAlchemy), execute the schema files to create tables
from sqlalchemy import text
connection=psycopg2.connect("dbname=Julia-Joy1 user=joy password=20010105 host=localhost port=5432")
from sqlalchemy import create_engine
DATABASE_URL = 'postgresql://joy:20010105@localhost:5432/Julia-Joy1'
engine = create_engine(DATABASE_URL)

with engine.connect() as connection:
    with connection.begin():
        connection.execute(text(ZIPCODE_SCHEMA))
        connection.execute(text(NYC_311_SCHEMA))
        connection.execute(text(NYC_TREE_SCHEMA))
        connection.execute(text(ZILLOW_SCHEMA))
    #pass

#### Option 2: SQLAlchemy

### Add Data to Database

These are just a couple of options to write data to your tables; you can use one or the other, a different method, or a combination.

#### Option 1: SQL

In [ ]:
# geodf_311_data = geodf_311_data.to_crs("EPSG:4326")  # Ensure consistent CRS
# geodf_311_data.to_postgis("complaints", engine, if_exists="replace", index=False, dtype={"geometry": "geometry(Point, 4326)"})

# geodf_tree_data = geodf_tree_data.to_crs("EPSG:4326")  # Ensure consistent CRS
# geodf_tree_data.to_postgis("trees", engine, if_exists="replace", index=False, dtype={"geometry": "geometry(Point, 4326)"})

# df_zillow_data.to_sql("rents", engine, if_exists="replace", index=False)

# #ZIPCODE
# geodf_zipcode_data=geodf_zipcode_data.to_crs("EPSG:4326") 
# geodf_zipcode_data.to_postgis("zipcodes", engine, if_exists="replace", index=False, dtype={"geometry": "geometry(Polygon, 4326)"})





from geoalchemy2 import Geometry
geodf_zipcode_data.to_postgis("zipcodes", engine, index=False, if_exists='replace', dtype={'geometry': Geometry('POLYGON', srid=4326)})

geodf_311_data = geodf_311_data.to_crs("EPSG:4326")  # Ensure consistent CRS
geodf_311_data.to_postgis("complaints", engine, if_exists="replace", index=False, dtype={"geometry": Geometry('POINT', 4326)})

geodf_tree_data = geodf_tree_data.to_crs("EPSG:4326")  # Ensure consistent CRS
geodf_tree_data.to_postgis("trees", engine, if_exists="replace", index=False, dtype={"geometry": Geometry('POINT', 4326)})

df_zillow_data.to_sql("rents", engine, if_exists="replace", index=False)

In [159]:
# Create indices on geometry columns
# with engine.connect() as connection:
#     connection.execute(text("CREATE INDEX idx_zipcodes_geom ON zipcodes USING GIST(geometry);"))
#     connection.execute(text("CREATE INDEX idx_complaints_geom ON complaints USING GIST(geometry);"))
#     connection.execute(text("CREATE INDEX idx_trees_geom ON trees USING GIST(geometry);"))
#     connection.execute(text("CREATE INDEX idx_rents_geom ON rents USING GIST(geometry);"))

#### Option 2: SQLAlchemy

In [ ]:
Session = db.orm.sessionmaker(bind=engine)
session = Session()

In [ ]:
for row in geodf_tree_data.iterrows():
    tree = Tree(...)
    session.add(tree)

In [ ]:
session.commit()

## Part 3: Understanding the Data

### Query 1

In [320]:
# Helper function to write the queries to file
def write_query_to_file(query, outfile):
    with open(outfile, "w") as f:
        f.write(query)

In [321]:
QUERY_1_FILENAME = QUERY_DIR / "FILL_ME_IN"

QUERY_1 = """
SELECT zipcode, COUNT(*) as num_complaints
FROM complaints
WHERE date BETWEEN '2022-10-01' AND '2023-09-30'
GROUP BY zipcode
ORDER BY num_complaints DESC
LIMIT 10;
"""

QUERY_1_FILENAME = QUERY_DIR / "top_10_zipcodes_by_complaints.sql"

In [322]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_1))
    for row in result:
        print(row)

('10023', 15552)
('10031', 12383)
('10456', 12224)
('10025', 11842)
('10453', 11379)
('10457', 11042)
('10458', 10609)
('10032', 10580)
('10452', 10512)
('10468', 10253)

In [323]:
write_query_to_file(QUERY_1, QUERY_1_FILENAME)

In [324]:
QUERY_2 = """
SELECT zipcode, COUNT(*) as num_trees
FROM trees
GROUP BY zipcode
ORDER BY num_trees DESC
LIMIT 10;
"""

QUERY_2_FILENAME = QUERY_DIR / "top_10_zipcodes_by_trees.sql"

In [325]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_2))
    for row in result:
        print(row)
write_query_to_file(QUERY_2, QUERY_2_FILENAME)

('10312', 22186)
('10314', 16905)
('10306', 13030)
('10309', 12650)
('11234', 11253)
('11385', 10937)
('11357', 9449)
('11207', 8634)
('11434', 8274)
('11208', 8245)

In [326]:
QUERY_3= """
SELECT t.zipcode,CAST(r."2023-08-31" AS decimal(32,2)) AS rent
FROM trees t
JOIN rents r ON t.zipcode = r.zipcode
GROUP BY t.zipcode, rent
ORDER BY COUNT(*) DESC
LIMIT 10;
"""

QUERY_3_FILENAME = QUERY_DIR / "avg_rent_in_top_10_zipcodes_with_trees.sql"

In [327]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_3))
    for row in result:
        print(row)
write_query_to_file(QUERY_3, QUERY_3_FILENAME)

('10312', Decimal('1775.09'))
('10314', Decimal('2465.47'))
('10306', Decimal('2331.54'))
('10309', Decimal('1832.01'))
('11234', Decimal('2312.31'))
('11385', Decimal('3064.48'))
('11357', Decimal('2458.81'))
('11207', Decimal('3079.09'))
('11434', Decimal('2645.92'))
('11208', Decimal('2737.55'))

In [332]:
QUERY_4 = """
WITH rents_tree_complaints AS (
    SELECT t.zipcode, r."2023-01-31" AS rent, COUNT(*) as num_trees, COUNT(c.*) as num_complaints
    FROM trees t
    JOIN rents r ON t.zipcode = r.zipcode
    LEFT JOIN complaints c ON t.zipcode = c.zipcode
    GROUP BY t.zipcode, r."2023-01-31"
)
SELECT *
FROM (
    SELECT *
    FROM rents_tree_complaints
    WHERE rent IS NOT NULL
    ORDER BY rent ASC
    LIMIT 5
) AS low
UNION ALL
SELECT *
FROM (
    SELECT *
    FROM rents_tree_complaints
    WHERE rent IS NOT NULL
    ORDER BY rent DESC
    LIMIT 5
) AS high;
"""

QUERY_4_FILENAME = QUERY_DIR / "rent_tree_complaint_correlation.sql"

In [ ]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_4))
    for row in result:
        print(row)
write_query_to_file(QUERY_4, QUERY_4_FILENAME)

In [123]:
# QUERY_5 = """
# SELECT z.zipcode, COUNT(*) as num_trees
# FROM trees t
# JOIN zipcodes z ON ST_Within(t.geometry, z.geometry)
# GROUP BY z.zipcode
# ORDER BY num_trees DESC
# LIMIT 10;
# """
QUERY_5 ='''
SELECT
    z.zipcode,COUNT(t.tree_id) AS num_trees
FROM
    zipcodes z
JOIN trees t ON ST_Within(t.geometry, z.geometry)
GROUP BY z.zipcode
ORDER BY num_trees DESC
LIMIT 10;
'''
QUERY_5_FILENAME = QUERY_DIR / "top_10_zipcodes_by_trees_v2.sql"

In [124]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_5))
    for row in result:
        print(row)
write_query_to_file(QUERY_5, QUERY_5_FILENAME)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column z.zipcode does not exist
LINE 2: SELECT z.zipcode, COUNT(*) as num_trees
               ^
HINT:  Perhaps you meant to reference the column "t.zipcode".

[SQL:
SELECT z.zipcode, COUNT(*) as num_trees
FROM trees t
JOIN zipcodes z ON ST_Within(t.geometry, z.geometry)
GROUP BY z.zipcode
ORDER BY num_trees DESC
LIMIT 10;
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [125]:
QUERY_6 = """
SELECT id, tree_species, health, status, ST_AsText(geometry) as coordinate_location
FROM trees
WHERE ST_DistanceSphere(ST_MakePoint(-73.96253174434912, 40.80737875669467), geometry) <= 804.672;  -- 0.5 mile in meters
"""

QUERY_6_FILENAME = QUERY_DIR / "trees_within_half_mile_radius.sql"

In [126]:
with engine.connect() as conn:
    result = conn.execute(db.text(QUERY_6))
    for row in result:
        print(row)
write_query_to_file(QUERY_6, QUERY_6_FILENAME)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "id" does not exist
LINE 2: SELECT id, tree_species, health, status, ST_AsText(geometry)...
               ^

[SQL:
SELECT id, tree_species, health, status, ST_AsText(geometry) as coordinate_location
FROM trees
WHERE ST_DistanceSphere(ST_MakePoint(-73.96253174434912, 40.80737875669467), geometry) <= 804.672;  -- 0.5 mile in meters
]
(Background on this error at: https://sqlalche.me/e/20/f405)

## Part 4: Visualizing the Data

### Visualization 1

In [ ]:
# use a more descriptive name for your function
def plot_visual_1(dataframe):
    figure, axes = plt.subplots(figsize=(20, 10))
    
    values = "..."  # use the dataframe to pull out values needed to plot
    
    # you may want to use matplotlib to plot your visualizations;
    # there are also many other plot types (other 
    # than axes.plot) you can use
    axes.plot(values, "...")
    # there are other methods to use to label your axes, to style 
    # and set up axes labels, etc
    axes.set_title("Some Descriptive Title")
    
    plt.show()

In [ ]:
def get_data_for_visual_1():
    # Query your database for the data needed.
    # You can put the data queried into a pandas/geopandas dataframe, if you wish
    raise NotImplementedError()

In [ ]:
some_dataframe = get_data_for_visual_1()
plot_visual_1(some_dataframe)